<<<<<<< HEAD

=======
>>>>>>> ddd9f2689122ba3b2b18b8c3b8d66fc08c636471
<!DOCTYPE html>
  <head>
  </head>
   <body>
      <h1>検索</h1>
      <table>
          <div>
          　<tr>学校名</tr>
            <%= collection_select(:school, :name, @schools, :id, :name, {:include_blank => true}) %>
          </div>
          <div>
            <tr>学年</tr>
            <select name="grade">
              <option value="1" label=""></option>
              <option value="1" label="1年"></option>
              <option value="2" label="2年"></option>
              <option value="3" label="3年"></option>
            </select>
          </div>
          <div>
          　<tr>部活動名</tr>
          　<%= collection_select(:club, :name, @clubs, :id, :name, {:include_blank => true}) %> 
          </div>
          <div>
            <tr>性別</tr>
          <%= collection_select(:type, :name, @types, :id, :name, {:include_blank => true}) %> 
      </table>
      <%#　ここからランキング　%>
      <h3>ランキング</h3>
      <% @good_ranks.each do |g| %>
        <%= g.login %>
        <%= g.profile.user_name %>
        <br/>
      <% end %>
    
    </body>
  <html>
