<!DOCTYPE html>
  <head>
  </head>
   <body>
    <div class="column">
         <div class="sidebar_size">
            <%= render partial: 'sidebar' %>
         </div>
         <div class="main">
            <div class="my">
            <h1>検索</h1>
              <table>
                <tr>
                  <th>学校名</th>
                  <th>学年</th>
                  <th>部活動</th>
                  <th>性別</th>
                  <th></th>
                </tr>
                <%= form_tag({controller:"search",action:"search"}, method: :post) do%>
                  <tr>
                   
                    <td>
                      <div>
                        <%= collection_select(:school, :id, @schools, :id, :name, {:include_blank => false}) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <select name="grade">
                          <option value="" label="選択してください"></option>
                          <option value="1" label="1年"></option>
                          <option value="2" label="2年"></option>
                          <option value="3" label="3年"></option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div>
                      　<%= collection_select(:club, :id, @clubs, :id, :name, {:include_blank => true}) %> 
                      </div>
                    </td>
                    <td>
                      <div>
                      　<%= collection_select(:type, :id, @types, :id, :name, {:include_blank => true}) %> 
                      </div>
                    </td>
                     <td>
                          <%= submit_tag "検索" %>
                    </td>
                  </tr>
                <% end %>
              </table>
      <table class="table">
      <% @profiles.each do |profile| %>  <%#検索の表示　%>
        <tr>
          <td><%= profile.school.name %></td>
          <td><%= profile.grade %></td>
          <td><%= profile.club.name if profile.club.present? %></td>
          <td><%= profile.type.name if profile.type.present? %></td>
        </tr>
      <% end %>
      </table>

      <%#　ここからランキング　%>
      <h3><b>ランキング</b></h3>
      <div class = "ranking">
        <table>
            <% @good_ranks.each.with_index(1) do |user, i| %>
              <tr>
                <td><%= i %>位</td>
                <td><%= user.profile.user_name %></td>
                <td><%= user.login %></td>
                <td>
                <% if Good.do_good?(current_user) %>
                  <%= button_to 'いいね', good_do_good_path(user.id), method: :post do %>
                  <% end %>
                <% else %>
                  <%= button_to 'いいね解除', good_do_good_path(user.id), method: :delete do %>
                  <% end %>
                <% end %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
    </body>
  <html>
