<!DOCTYPE html>
  <head>
  </head>
   <body>
    <div class="column">
         <div class="sidebar_size">
            <%= render partial: 'sidebar' %>
         </div>
         <div class="main">
            <div class="my">
            <h1>検索</h1>
              <table>
                <tr>
                  <th>学校名</th>
                  <th>学年</th>
                  <th>部活動</th>
                  <th>性別</th>
                  <th></th>
                </tr>
                <%= form_tag({controller:"search",action:"search"}, method: :post) do%>
                  <tr>
                   
                    <td>
                      <div>
                        <%= collection_select(:school, :id, @schools, :id, :name, {selected: @school_id,:include_blank =>true}) %>
                      </div>
                    </td>
                    <td>
                      <div>
                        <%= select_tag :grade, options_for_select(Profile::GRADES.invert, @grade), include_blank: true %>
                      </div>
                    </td>
                    <td>
                      <div>
                      　<%= collection_select(:club, :id, @clubs, :id, :name, {selected: @club_id,:include_blank => true}) %> 
                      </div>
                    </td>
                    <td>
                      <div>
                      　<%= collection_select(:type, :id, @types, :id, :name, {selected: @type_id,:include_blank => true}) %> 
                      </div>
                    </td>
                     <td>
                          <%= submit_tag "検索" %>
                    </td>
                  </tr>
                <% end %>
              </table>
      <table class="table">
      <% @profiles.each do |profile| %>  <%#検索の表示　%>
        <tr>
          <td><%= image_tag "/post_images/"+profile.profile_image if profile.profile_image.present? %></td>
          <td><%= profile.school.name if profile.school.present? %></td>
          <td><%= Profile::GRADES[profile.grade] %></td>
          <td><%= profile.user_name %></td>
          <td><%= profile.club.name if profile.club.present? %></td>
          <td><%= profile.type.name if profile.type.present? %></td>
          <td>
            <%= button_to '+', create_friend_path(profile.user_id), method: :post %>
          </td>
          <td>
            <% if @my_good.do_good?(profile.user_id) %>
              <%= button_to '♥', good_un_good_path(profile.user_id), method: :delete %>
            <% else %>
              <%= button_to '♡', good_do_good_path(profile.user_id), method: :post %>
            <% end %>
            </td>
        </tr>
      <% end %>
      </table>

      <%#　ここからランキング　%>
      <h3><b>ランキング</b></h3>
      <div class = "ranking">
        <table>
            <% @good_ranks.each.with_index(1) do |user, i| %>
              <tr>
                <td><%= i %>位</td>
                <td><%= image_tag "/post_images/"+user.profile.profile_image if user.profile.profile_image.present? %></td>
                <td><%= user.profile.user_name %></td>
                <td><%= user.login %></td>
                <td>
                  <%= button_to '+', create_friend_path(user.id), method: :post %>
                </td>
                <td>
                <% if @my_good.do_good?(user.id) %>
                  <%= button_to '♥', good_un_good_path(user.id), method: :delete %>
                 <% else %>
                  <%= button_to '♡', good_do_good_path(user.id), method: :post %>
                <% end %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
    </body>
  <html>
