<h1>検索</h1>
<p>Find me in app/views/search/index.html.erb</p>

<!DOCTYPE html>
  <head>
  </head>
   <body>
      <h1>検索</h1>
      <%= collection_select(:school, :name, @schools, :id, :name, {:include_blank => true}) %>
      <select name="grade">
        <option value="1" label=""></option>
        <option value="1" label="1年"></option>
        <option value="2" label="2年"></option>
        <option value="3" label="3年"></option>
      </select>
      <%= collection_select(:club, :name, @clubs, :id, :name, {:include_blank => true}) %> 
      <%= collection_select(:type, :name, @types, :id, :name, {:include_blank => true}) %> 

        
    </body>

    <%#　ここからランキング　%>

<h3>ランキング</h3>
<% @good_ranks.each do |g| %>
    <%= g.login %>
    <%= g.profile.user_name %>
    <br/>
<% end %>

<html>
