<div class= "search">
  <div class="main">
    <div class="my">
      <div class="search-top">
        <h1 class="search-h1"><i class="bi bi-search-heart"></i> search</h1>
      </div>
      <table>
        <tr>
          <th>ユーザー検索</th>
          <th>学校名</th>
          <th>学年</th>
          <th>部活動</th>
          <th>性別</th>
          <th></th>
        </tr>
        <%= form_tag({controller:"search",action:"search"}, method: :post) do%>
          <tr>
            <td>
              <div>
                <%= text_field_tag :login_or_user_name, @login_or_user_name, {class:"form-control"}%>
              </div>
            </td>
            <td>
              <div style="padding:0 0 0 50px;">
                <%= collection_select(:school, :id, @schools, :id, :name, {selected: @school_id,:include_blank =>true}) %>
              </div>
            </td>
            <td>
              <div>
                <%= select_tag :grade, options_for_select(Profile::GRADES.invert, @grade), include_blank: true %>
              </div>
            </td>
            <td>
              <div>
              　<%= collection_select(:club, :id, @clubs, :id, :name, {selected: @club_id,:include_blank => true}) %> 
              </div>
            </td>
            <td>
              <div>
              　<%= collection_select(:type, :id, @types, :id, :name, {selected: @type_id,:include_blank => true}) %> 
              </div>
            </td>
              <td>
                  <%= submit_tag "検索" %>
            </td>
          </tr>
        <% end %>
      </table>
  <table class="result">
  <% @profiles.each do |profile| %>  <%#検索の表示　%>
      <tr valign="middle">
          <td>
            <% if profile.profile_image.present? %>
              <%= image_tag "/post_images/"+profile.profile_image, class: "icon"%>
            <% else %>
              <%= image_tag "/post_images/shoki.png", class: "icon" %>
            <% end %>
          </td>
          <td><%= profile.school.name if profile.school.present? %></td>
          <td><%= Profile::GRADES[profile.grade] %></td>
          <td><%= profile.user.login %>
          <td><%= link_to profile.user_name, friend_profile_path(profile.user_id), remote: true %></td>
          <td><%= profile.club.name if profile.club.present? %></td>
          <td><%= profile.type.name if profile.type.present? %></td>
          <td>
            <div id='friend-btn-<%= profile.user_id %>'>
              <%= render partial: "become_friend/friend_btn", locals: { friend_id: profile.user_id } %>
            </div>
          </td>
          <td>
            <div id='good-btn-<%= profile.user.id %>'>
              <%= render partial: "do_good/good_btn", locals: { user_id: profile.user.id } %>
            </div>
          </td>
      </tr>
  <% end %>
  </table>

  <%#　ここからランキング　%>
  <h3 class="mb-4 mt-5">👑<b>ランキング</b>👑</h3>
  <div id="ranking" class = "ranking">
  </div>
</div>

<!-- フレンドプロフィール用 -->
<div id="modal-friend-profile" class="modal fade"></div>

<% content_for :inline_js do %>
<script type="text/javascript">
<!--
function get_ranking() {
$.get("<%= ranking_path %>").done(function(data) {
  $("#ranking").html(data);
});
}
$(get_ranking());
// -->
</script>
<% end %>
