<table class="rannking">
    <% @good_ranks.each.with_index(1) do |user, i| %>
            <tr valign="middle">
                <td style="border:none;">No.<%= i %></td>
                <td>
                    <% if user.profile.profile_image.present? %>
                        <%= image_tag "/post_images/"+user.profile.profile_image, class: "ranking_icon"%>
                    <% else %>
                        <%= image_tag "/post_images/shoki.png", class: "ranking_icon" %>
                    <% end %>
                </td>
                <td><%= user.profile.user_name %></td>
                <td><%= link_to user.profile.user_name, friend_profile_path(user.profile.user_id), remote: true %></td>
                <td><%= user.login %></td>
                <% if user.id != @login_id %>
                    <td>
                        <%= render partial: "become_friend/friend_btn", locals: { friend_id: user.id } %>
                    </td>
                    <td>
                        <%= render partial: "do_good/good_btn", locals: { user_id: user.id } %>
                    </td>
                <% else %>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
    <% end %>
</table>