<table class="rannking">
    <% @good_ranks.each.with_index(1) do |user, i| %>
            <tr valign="middle">
                <td style="border:none;">No.<%= i %></td>
                <td style="border-left:solid 1px;"><%= image_tag "/post_images/"+user.profile.profile_image, class: "rounded-circle", width: 40, height: 40 if user.profile.profile_image.present? %></td>
                <td><%= user.profile.user_name %></td>
                <td><%= user.login %></td>
                <% if user.id != @login_id %>
                    <td>
                        <%= render partial: "become_friend/friend_btn", locals: { friend_id: user.id } %>
                    </td>
                    <td style="border-right:solid 1px;">
                        <%= render partial: "do_good/good_btn", locals: { user_id: user.id } %>
                    </td>
                <% else %>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
    <% end %>
</table>