<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= stylesheet_link_tag 'new_account', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <h1 class="text-center">出雲市高校生マッチングアプリ</h1>
    <div class="">
      <div>
          <h2>新規登録</h2>
          <%= form_tag(action: :create,method: :post) do %>
            <div>
              <%= label_tag 'ユーザーネーム' %>
              <br>
              <%= text_field_tag :user_name%>
            </div>
            <div> 
              <%= label_tag "ユーザーＩＤ" %>
              <br>
              <%= text_field_tag :user_id %>
            </div>
            <div>
              <%= label_tag 'パスワード' %>
              <br>
              <%= text_field_tag :password %>
            </div>
            <div class="backgroud-hart">
              <%= submit_tag'新規登録' %>
            </div>
            <br>
            <%= link_to "ログイン", "http://localhost:3000/login/login" %>
          <% end %>
        </div>
    </div>
  </body>
</html>
  


