<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= stylesheet_link_tag 'new_account', media: 'all', 'data-turbolinks-track': 'reload' %>
   
   <link >
  </head>
  <body>
      <h1 class="mb-5 text-center"><b>出雲市高校生マッチングアプリ</b></h1>
      <div class="card-body text-center card">
        <h2 class = "mb-5 card-title"><b>新規登録</b></h2>
          <%= form_tag(action: :create,method: :post) do %>
            <div class = "card-text input">
              <%= label_tag 'ユーザーネーム' %>
              <br>
              <%= text_field_tag :user_name,"",{class:"form-control"}%>
            </div>
            <div class ="card-text input"> 
              <%= label_tag "ユーザーＩＤ" %>
              <br>
              <%= text_field_tag :user_id,"",{class:"form-control"}%>
            </div>
            <div class ="card-text">
              <%= label_tag 'パスワード' %>
              <br>
              <%= text_field_tag :password,"",{class:"form-control"}%>
            </div>
            <div class="text-center">
               <div class="heart">
                  <div class ="button">
                    <%= submit_tag "新規登録" %>
                  </div>
               </div>
            </div>
            <br>
          <% end %>
        </div>
      </div>
      <p class="mt-5 text-center">
        <%= link_to "ログイン", "/login/login" %>
      </p>
  </body>
</html>
  


