<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0"> %>
    <title>チャットページ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'chat_room', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="column">
        <div class="sidebar_size">
            <%= render partial: 'sidebar' %>
        </div>
        <div>
            <h1>チャット</h1>
            <div class="user_name">
                <% @user_name.each do |usr| %>
                    <div class="user">
                        <%= button_to usr, {controller: 'chat_room',action: 'show'}, {method: :post} %>
                    </div>
                    <br>
                <% end %>
            </div>
        </div>
        <div>
            <div class="chat" id="message">
                <%= render partial: 'message', collection: @messages %>
            </div>
            <form>
                <label>メッセージ</label>
                <input type="text" data-behavior="room_speaker">
                <input type="submit" value="送信">
            </form>
        </div>

        
    </div>
</body>
</html>