<div class="top">
  <div class="friend_top">
    <p><i class="bi bi-people"></i> friend list</p>
  </div>
    
        <%= form_tag({controller:"friend_list",action:"search"}, method: :post) do%>
        <div class="friend_search">
          <%= text_field_tag :login_or_user_name, @login_or_user_name, {class:"form-control"}%>
          <%= submit_tag "検索" %>
        </div>
        <% end %>

</div>

  <div>
  <table class="friend_list_pro">
      <% @friend_list.each do |friend| %>
          <tr valign="middle">
            <td>
              <% if friend.friend_user.profile.profile_image.present? %>
                <%= image_tag "/post_images/"+friend.friend_user.profile.profile_image, class: "friend_icon"%>
              <% else %>
                <%= image_tag "/post_images/shoki.png", class: "friend_icon" %>
              <% end %>
            </td>
            <td><%= friend.friend_user.profile.school.name if friend.friend_user.profile.school.present? %></td>
            <td><%= Profile::GRADES[friend.friend_user.profile.grade] %></td>
            <td><%= friend.friend_user.profile.user.login %>
            <td><%= link_to friend.friend_user.profile.user_name, friend_profile_path(friend.friend_id), remote: true %></td>
            <td><%= friend.friend_user.profile.club.name if friend.friend_user.profile.club.present? %></td>
            <td><%= friend.friend_user.profile.type.name if friend.friend_user.profile.type.present? %></td>
            <td>
              <div id='good-btn-<%= friend.friend_user.id %>'>
                <%= render partial: "do_good/good_btn", locals: { user_id: friend.friend_user.id } %>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
  </div>

  <!-- フレンドプロフィール用 -->
  <div id="modal-friend-profile" class="modal fade"></div>

