<div>
  <h1>フレンド一覧</h1>
  <div>
    <%= form_tag({controller:"friend_list",action:"search"}, method: :post) do%>
      <div>
        <%= text_field_tag :friend_user_name, @friend_user_name, {class:"form-control"} %>
      </div>
      <div> 
        <%= submit_tag "検索" %> 
      </div>
    <% end %>
  </div>

  <div>
      <% @friend_list.each do |friend| %>
          <div class="list">
              <% if friend.friend_user.profile.profile_image.present? %>
                  <%= image_tag "/post_images/"+ friend.friend_user.profile.profile_image,class:'friend_icon' %>
              <% else %>
                  <%= image_tag "/post_images/shoki.png",class:'friend_icon' %>
              <% end %>
              <p><%= friend.friend_user.profile.user_name %></p>
              <%= button_to 'チャット', '/chat_room/chat_page', method: :get %>

              <div id='good-btn-<%= friend.friend_user.id %>'>
                <%= render partial: "do_good/good_btn", locals: { user_id: friend.friend_user.id } %>
              </div>
              
              <%= button_to 'ブロック', block_create_path(friend.friend_id), method: :post %>
          </div>
      <% end %>
  </div>
</div>