<div class="main">
  <div class="setting-top">
    <p class="mb-4 setting_h1"><i class="bi bi-gear"></i>setting</p>
  </div>
    <%= form_with url: '/setting/update',model: @setting do |form| %>
        <div class="setting">
            <%= form.label "ユーザーID" %>
            <%= form.text_field :login %>
        </div>
          <div class="setting">
            <%= form.label "パスワード" %>
            <%= form.text_field :password %>
          </div>
        <div class="touroku mt-5">  
          <%= form.submit "更新" %>
        </div>
    <% end %>
</div>