<!DOCTYPE html> 
<html>
  <head>
    <title>ENC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class = "mb-5 text-center"><b>出雲市高校生マッチングアプリ</b></h1>
    <div class  = "card-body card text-center">
      <h2 class = "card-title mb-5"><b>ログイン</b></h2>
      
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>

        <%= form_tag action: :create do %>
          <div class = "card-text input">
            <%= label_tag "ユーザーＩＤ" %>
            <br>
            <%= text_field_tag :user_id, "",{class:"form-control"} %>
          </div>
          <div class = "card-text input">
            <%= label_tag "パスワード" %>
            <br>
            <%= text_field_tag :password, "",{class:"form-control"} %>
          </div>
          <div class = "heart">
            <div class = "button">
              <%= submit_tag "ログイン" %>
            </div>
          </div>
        <% end %>
    </div>
  <p class="text-center mt-5">
  <%= link_to "新規登録", "/new_account/new" %>
  </p>
  </body>
</html> 