<!DOCTYPE html> 
<html>
  <head>
    <title>ENC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <h1>ログイン</h1>
       <%= form_with model: @users do |form| %>
         <div>
            <%= form.label "ユーザーＩＤ" %>
            <%= form.text_field :user_id %>
         </div>
         <div>
            <%= form.label "パスワード" %>
            <%= form.password_field :password %>
         </div>
         <div>
            <%= form.submit "ログイン" %>
         </div>
       <% end %>
  </body>
</html> 