
<div class="my_profile">

   <div class="header-top">
      <p><%= @user.login %></p>
   </div>
   <div class="profile">
      <div class="my_icon">
         <% if @profile.profile_image.present? %>
            <td><%= image_tag "/post_images/"+@profile.profile_image, class: 'icon' %></td>
         <% else %>
            <td><%= image_tag "/post_images/shoki.png",class: 'good_icon' %></td>
         <% end %>
      </div>
      <div class="proname">
         <p><%= @user.profile.user_name %></p>
         <p><%= @user.profile.comments %></p>
         <p class="btn btn-primary" id="open">プロフィール編集</p>
      </div>
   </div>
   
   <div id="modal">
      <div class="modal-window">
         <div class="close-right">
            <button id="closer">×</button>
         </div>
         <div class="modal-center">
            <div class="modal-header">
               <h1>プロフィール編集</h1>
            </div>
            <%= form_with url: "/mypage/update",model: @profile, html: {multipart: true} do |form| %>
               <div class="user_name">
                  <%= form.label "ユーザーネーム" %>
                  <%= form.text_field :user_name %>
               </div>
               <div>
               <%= form.label "学校名" %> 
               <%= form.collection_select(:school_id, @schools, :id, :name, {:include_blank => true}) %>
               </div>
               <div>
                  <%= form.label "プロフィール画像" %>
                  <%= form.file_field :profile_image %>
                  <% if @profile.profile_image.present? %>
                     <td><%= image_tag "/post_images/"+@profile.profile_image, class: 'icon' %></td>
                  <% else %>
                     <td><%= image_tag "/post_images/shoki.png",class: 'good_icon' %></td>
                  <% end %>
               </div>
               <div>
                     <%= form.select(:grade, Profile::GRADES.invert, include_blank: true) %>
               </div>
               <div>
                  <%= form.label "部活動" %>
                  <%= collection_select(:profile, :club_id, @clubs, :id, :name, {:include_blank => true}) %> 
               </div>
               <div>
               <%= form.label "性別" %>
               <%= collection_select(:profile, :type_id, @types, :id, :name, {:include_blank => false}) %>
               </div>
               <div>
               <%= form.label "一言" %>
               <%= form.text_field :comments %>
               </div>
               <div>
                  <%= form.submit "更新" %>
               </div>
            <% end %>
         </div>
      </div>
   </div>
</div>

<%# ここからいいね一覧 %>
<div class = "good_list">
   <h3 class="mb-5 mt-4"><b>いいね一覧<b></h3>
      <% @goods.each do |g| %>
         <div class="friend-row">
            <% if g.good_user.profile.profile_image.present? %>
               <%= image_tag "/post_images/"+g.good_user.profile.profile_image, class: 'icon' %>
            <% else %>
               <%= image_tag "/post_images/shoki.png",class: 'good_icon' %>
            <% end %>
　　　　　　<div class="friendshow">
              <%= link_to g.good_user.profile.user_name, friend_profile_path(g.good_id), remote: true %>
                <div id='friend-btn-<%= g.good_user.id %>'>
                   <%= render partial: "become_friend/friend_btn", locals: { friend_id: g.good_user.id } %>
                </div>

                <div id='good-btn-<%= g.good_user.id %>'>
                   <%= render partial: "do_good/good_btn", locals: { user_id: g.good_user.id } %>
                </div>
           </div>
         </div>
      <% end %>
</div>

<!-- フレンドプロフィール用 -->
<div id="modal-friend-profile" class="modal fade"></div>

<%= javascript_pack_tag 'mypage' %>