<!DOCTYPE html>
<html>
  <head>
    <title>ENC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    a
    <br>
    <% @user.each do |usr| %>
      <%= usr.login %>
    <% end %>
    <br>
    <% @user_profile.each do |profile| %>
      <%= profile.user_name %>
      <br>
      <%= profile.comments %>
    <% end %>
    
  </body>
</html>
